h3 {
    color: orange;    
}

h4 {
    color: brown;
}

/* 6 - Classes  */
.paragrafos {
    color: darkblue;
}

#Para {
    color: magenta;
}

#Treta {
    color: red;
}

.cor-textos {
    color: goldenrod;
}