* {
    margin: 0;
}
div {
    border: 4px dotted rgb(38, 154, 207);
    width: fit-content;
    font-size: 24px;

    /* Responsavel entre criar um espaço entre o conteúdo e a borda */
    padding-top: 10px; /* Espaço em Cima */
    padding-right: 20px; /* Espaço na Direita */
    padding-bottom: 10px; /* Espaço em Baixo */
    padding-left: 20px; /* Espaço na Esquerda */
    
    /* Shorthand */
    /* 1 Valor = mesmo valor para todos os lados */
    padding: 20px;

    /* 2 Valores: Primeiro > top e bottom / Segundo > right e left */
    padding: 10px 20px;

    /* 3 valores = Primeiro > Top / Segundo = rigth e left / Terceiro > bottom */
    padding: 10px 20px 10px;

    /* 4 valores = Primeiro > Top / Segundo = rigth / Terceiro > bottom / Quarto > left  */
    padding: 10px 20px 10px 20px;

    /* Propriedades extras */
    padding-inline: 20px;   /* padding na Horizontal */
    padding-block: 10px;    /* padding na Verticar */
}

h1 {
    border: 1px solid blue;
    margin-bottom: 20px;
}

.algun {
    margin-bottom: 100px;
}

.ultimo {
    margin-top: 50px;
}

.outro {
    margin-inline: auto;
}